<script>
    var data = [];
    var labels = [];

    // Create data and labels based on specific user / task
    {% for team in teams %}
        {% for user_time in user_times %}
            {% if user_time.time_spent != 0 %}
                data.push({{ user_time.time_spent }});
                {% if user_time.task.created_by == team %}
                    labels.push('[{{team.team_name}}]: {{ user_time.task.title }}');
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    // Variables used for formatting data
    var max = Math.max(...data);
    var yLabel = '';
    var formattedData = [];

    // Change scale to minutes if max time is less than an hour
    if (max < 3600) { 
        formattedData = data.map(seconds => seconds / 60);
        yLabel = 'Time (mins)';
    } else { // Change scale to hours if max time is more than an hour
        formattedData = data.map(seconds => seconds / 3600);
        yLabel = 'Time (hours)';
    }

    // Create bar chart based on data
    var barCanvas = document.getElementById('barChart').getContext('2d');
    var barChart = new Chart(barCanvas, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                data: formattedData,
                backgroundColor: [
                    'rgba(54, 162, 235, 0.5)',
                ],
            }]
        },
        options: {
            scales: {
                y: {
                    title: {
                        display: true,
                        text: yLabel
                    }
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Time spent on each task'
                },
                legend: {
                    display: false
                }
            }
        }
    });

    // Create line chart based on data
    var lineCanvas = document.getElementById('lineChart').getContext('2d');
    var lineChart = new Chart(lineCanvas, {
        type: 'line',
        data: {
            
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Time spent on tasks over different periods'
                },
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    type: 'category', // Assuming you're using categories for week/month/year labels
                    title: {
                        display: true,
                        text: 'Time Period'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: yLabel,
                    }
                }
            }
        }
    });

</script>