<!-- notifications_partial.html -->

<div class="position-relative">
    <button class="btn btn-link position-relative" type="button" id="notificationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="bi bi-bell-fill"></span>
        {% if notifications_list|length > 0 %}
            <span class="position-absolute top-3 end-2 translate-middle badge rounded-pill bg-danger" style="font-size: 8px; padding: 3px 3px;">
                {{ notifications_list|length}}
            </span>
        {% endif %}
    </button>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notification-dropdown" style="background-color: #083881; border-radius: 10px; font-size: 12px; min-width: 200px; max-width: 500px;max-height: 300px; overflow-y: auto;">
        {% if notifications_list %}
            {% for notification, task_id in notifications_list %}
                <li class="dropdown-item" style=" color: white;" onmouseover="this.style.backgroundColor='#083881';" onmouseout="this.style.backgroundColor='#083881';">
                    {{ notification|safe}}
                    
                </li>
                <li class="dropdown-item" style="display: flex; justify-content: space-between; align-items: center; {% if not forloop.last %} border-bottom: 3px solid #0b4398; {% endif %}" onmouseover="this.style.backgroundColor='#083881';" onmouseout="this.style.backgroundColor='#083881';" >
                    <a class="btn btn-primary btn-sm" style="background-color: #1B2A41;  color: rgb(36, 124, 225); font-size: 10px; padding: 3px 6px;  margin-left: auto;" href="{% url 'mark_as_seen' %}?task_id={{ task_id }}"> &#128277 Mark as Seen</a>
                </li>
            {% endfor %}
        {% else %}
            <li class="dropdown-item" style="color: white;" onmouseover="this.style.backgroundColor='#083881';" onmouseout="this.style.backgroundColor='#083881';">No notifications</li>
        {% endif %}
    </ul>
</div>
