<div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'notification_hub' %}">
                <div class="position-relative">
                    <button class="btn btn-link" type="button">
                        <span class="bi bi-bell-fill"></span>
                        <span class="position-absolute top-3 end-2 translate-middle badge rounded-pill bg-danger" style="font-size: 8px; padding: 3px 3px;">
                        </span>
                    </button>
                </div>
            </a>
        </li>
    </ul>
</div>
