<div class="sidebar">
    <!-- Smaller screens have a dropdown menu -->
    <div class="dropdown d-md-none">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Teams
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for team in teams %}
                <li class="nav-object">
                    <a class="dropdown-item nav-link {% if forloop.first %} active {% endif %}" href="#{{ team.id }}">
                        {{ team.team_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Medium / large screens have content shown normally -->
    <ul class="nav nav-pills flex-column p-2 d-none d-md-block" id="menu" role="tablist">
        <div class="row">
            <div class="col">
                <h5 class="mx-1 mb-1 text-white" style="padding-right: 77px">Teams:</h5>
            </div>
        </div>
        <div class="move-row">
        {% for team in teams %}
            <li class="nav-object my-1">
                <div class="text-start border border-primary rounded">
                    <a class="nav-link {% if forloop.first %} active {% endif %} text-white" id="{{ team.id }}-tab" data-toggle="pill" href="#{{ team.id }}" role="tab" aria-controls="{{ team.id }}" aria-selected="{% if forloop.first %} true {% else %} false {% endif %}">
                        {{ team.team_name }}
                    </a>
                </div>
            </li>
        {% endfor %}
        </div>
    </ul>
</div>

<!-- jQuery (JavaScript) just for initializing the dropdown, Bootstrap does the rest -->
<script>
    $(document).ready(function() {
        $('.dropdown-toggle').each(function() {
            new bootstrap.Dropdown(this);
        });
    });
</script>



