<div class="card box-shadow border border-2 rounded-3 text-white bg-primary m-1 w-100" style="max-width: 18rem;">
    <div class="card-header">{{task.title}}</div>
    <div class="card-body">
      <h5 class="card-title">{{ task.due_date }}</h5>
      <p class="card-text">{{ task.description }}</p>
      {% if task.is_high_priority_due_soon %}
          <div style="color: red;">
              <i class="fas fa-bell"></i> HIGH PRIORITY! - Due on {{ task.due_date }}
          </div>
      {% endif %}
    </div>
    {% if request.user in task.assigned_to.all %}
      <div class="card-footer">
        This task is assigned to you.
      </div>
    {% endif %}
    <a href="{% url 'view_task' team_id=team.id task_id=task_id %}" class="stretched-link "></a>
</div>