<div class="tab-content" id="content">
    {% for team, tasks in team_tasks %}
    <div class="tab-pane {% if forloop.first %} show active {% endif %}" id="{{ team.id }}" role="tabpanel" aria-labelledby="{{ team.id }}-tab">
        {% for task in tasks %}
            <!-- This is where you can display each task -->
            <!-- View Task Info should have the rest of the task's details -->
            {{ task.title }}
            {% if request.user in task.assigned_to.all %}
              <p>This task is assigned to you.</p>
            {% endif %}
            <div class="mx-auto text-center">
                {% include 'partials/task_info_btn.html' with task_id=task.id %}
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>