<div class="card box-shadow border border-2 rounded-3 text-white bg-primary m-1 w-100 existingTaskCard">
    <div class="card-header">{{task.title}}</div>
    <div class="card-body">
      <h5 class="card-title">{{ task.due_date }}</h5>
      <p class="card-text">
        {% if task.description|length > 80 %}
            {{ task.description|slice:":80" }} ...
        {% else %}
            {{ task.description }}
        {% endif %}
      </p>
      {% if task.is_high_priority_due_soon %}
      <div class="notification-container" style="background-color: rgb(156, 14, 14); border-radius: 10px; font-size: 10px;">
        <div class="notification-content" style="color: white">
            <i class="fas fa-bell"></i> &#128276; <strong>High priority - Due on {{ task.due_date }}</strong>
        </div>
      </div>
      {% endif %}
    </div>
    {% if request.user in task.assigned_to.all %}
      <div class="card-footer">
        This task is assigned to you.
      </div>
    {% endif %}
    <a href="{% url 'view_task' team_id=team.id task_id=task_id %}" class="stretched-link "></a>
</div>