{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Create a task</h1>
      <form action="{% url 'create_task' pk=team_id %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Create" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    const dateControl = document.querySelector('input[type="date"]');
    var currentDate = new Date();
    var currentDateString = currentDate.getFullYear() + "-" + (currentDate.getMonth() + 1) + "-" + currentDate.getDate()
    dateControl.min = currentDateString;
</script>
{% endblock %}