{% extends 'base_content.html' %}

{% block content %}
<div class="container-fluid">
	<!-- Height is calculated by the height of the page minus the nav-menu height --> 
	<div class="row row-cols-3" style="height: calc(100vh - 55.99px)"> 
		<!-- Sidebar Left -->
		<div id="teamSidebar" class="col-2">
			{% include 'partials/sidebar.html' %}
		</div>
		<!-- Main Content Section -->
		<div class="col-8 align-items-center">
			<div class="container-fluid">
				<!-- Main content Header -->
				<div class="row m-1 text-center">
					<h1>Welcome to your dashboard {{ user.username }}</h1>
				</div>
				<div class="row">
					<div class="tab-content w-100 align-items-center">
						{% if team_tasks %}
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Order By
								</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="{% url 'dashboard' %}?sort=ascending">Ascending</a></li>
									<li><a class="dropdown-item" href="{% url 'dashboard' %}?sort=descending">Descending</a></li>
									<li><a class="dropdown-item" href="{% url 'dashboard' %}">Clear Filter</a></li>
								</ul>
							</div>
						
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Sort By
								</button>
								<ul class="dropdown-menu">
									{% if team_tasks %}
										{% for field in task_fields %}
											<li><a class="dropdown-item" href="{% url 'dashboard' %}?order={{ field.name }}">{{ field.verbose_name }}</a></li>
										{% endfor %}
										<li><a class="dropdown-item" href="{% url 'dashboard' %}">Clear Filter</a></li>
									{% else %}
										<li><a class="dropdown-item" href="#">No Task available</a></li>
									{% endif %}
								</ul>
							</div>
							
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Filter By
								</button>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item dropdown-toggle" href="{% url 'dashboard' %}?filter=priority">
											Priority
										</a>
										<ul class="dropdown-menu dropdown-submenu">
											<li><a class="dropdown-item" href="{% url 'dashboard' %}?filter=priorityLow">Low</a></li>
											<li><a class="dropdown-item" href="{% url 'dashboard' %}?filter=priorityMedium">Medium</a></li>
											<li><a class="dropdown-item" href="{% url 'dashboard' %}?filter=priorityHigh">High</a></li>
										</ul>
									</li>
									<li>
										<a class="dropdown-item" href="{% url 'dashboard' %}?filter=completed">
											Completion
										</a>
										<ul class="dropdown-menu dropdown-submenu">
											<li><a class="dropdown-item" href="{% url 'dashboard' %}?filter=Completed%False"></a>Not Completed</li>
											<li><a class="dropdown-item" href="{% url 'dashboard' %}?filter=Completed%True"></a>Completed</li>
										</ul>
									</li>
									<li><a class="dropdown-item" href="{% url 'dashboard' %}">Clear Filter</a></li>
								</ul>
							</div>
						{% endif %}
						{% for team, tasks in team_tasks %}
						<div class="tab-pane {% if forloop.first %} show active {% endif %}" id="{{ team.id }}" role="tabpanel" aria-labelledby="{{ team.id }}-tab">
							{% ifchanged team.team_name %}
							<div class="row m-1 text-center">
								<h3>Current Team : {{ team.team_name }}</h3>
							</div>
							
							<div class="row m-1">
								{% for task in tasks %}
								{% include 'partials/task_card.html' with task_id=task.id %}
								{% endfor %}
								<div class="card text-center text-black border-white m-1 taskCreationCard">
									<div class="card-body">
										<h5 class="card-title">Create A Task</h5>
										<p class="card-text"> + </p>
										<a href="#" class="stretched-link create-task-button"></a>
									</div>
								</div>
							</div>
							{% endifchanged %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!-- Sidebar right -->
		<div class="col-2 flex-column" id="viewTeamSidebar">
			<div class="card text-white text-center bg-primary m-1" style="max-width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">View Team</h5>
					<a href="#" class="stretched-link view-team-button"></a>
				</div>
			</div>
			<div class="p-2 border align-self-start bg-info">
				List of Due Dates Placeholder
			</div>
		</div>
	</div>
</div>
{% endblock %}