{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% if q %}

            <h1>Users: {{q}}</h1>
            <br/>
            <div class="list-group">
    
                {% for user in users %}
                <!-- Add if condition to skip users if they are already on the team-->
                <li class="list-group-item" style="display:flex; justify-content:space-between; align-items:center;">{{ user.first_name }} {{ user.last_name }}
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type = "hidden" name="userToAdd" value="{{user}}"/>
                        <input type="submit" class="btn btn-outline-success" value="Add to Team"/>
                    </form>
                </li>
                
                {% endfor %}
            </div>
            {% else %}

                <h1>No search results found</h1>

            {% endif %}
        </div>
    </div>
</div>
        
{% endblock %}