{% extends 'base_content.html' %}
{% block content %}

<style>

    table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    td {
    padding: 12px; 
    margin: 4px;
    text-align: center;
    border-bottom: 1px solid rgb(214, 214, 214); 
    }
    th {
        text-align: center;
        padding: 12px; 
        margin: 4px;
        color: white;
        border-bottom: 2px solid rgb(209, 209, 209);
        background-color: rgb(46, 46, 44);
    }

    .remove-member-button {
        background-color: #cb0808; /* Red background color */
        color: #fff; /* White text color */
        border: none;
        padding: 8px 12px; /* Adjust padding as needed */
        cursor: pointer;
        border-radius: 4px; /* Optional: Add rounded corners */
    }

    .remove-member-button:hover {
        background-color: #880303; /* Darker red on hover */
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" id="show-team-table">
            <h1 id="show-team-header">Team {{team.team_name}}</h1>
            <!--Show the team members in the team as a list-->
            <table class="table table-dark table-bordered">
                <thead>
                    <tr>
                        <th>Username</th>
                        {% if is_admin %}
                            <th>Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for member in team_members %}
                        <tr>
                            
                            {% if member == team.admin_user %}
                                <td colspan="2">{{ member.username }} (Admin)</td>
                            {% else %}
                                <td>{{ member.username }}</td>
                            {% endif %}
                           
                            {% if is_admin %}
                                {% if member != team.admin_user %}
                                    <td>
                                        <form method="post" action="{% url 'remove_member' team_id=team.id member_username=member.username %}">
                                        {% csrf_token %}
                                        <button class="remove-member-button" type="submit">Remove Member</button>
                                        </form>
                                    </td>
                                    {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if is_admin %}
                <form method="post" action="{% url 'delete_team' team_id=team.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger float-end" style="margin-top:20px">Delete Team</button>
                </form>
            {% endif %}

        </div>

        <div class="col-auto">
            <div class="mt-5" style="border-left: 2px dashed white; height: 100%"></div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <form class="d-flex" method="POST" action="{% url 'show_team' team_id=team.id  %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" id="query" name="q" placeholder="User Search" style="margin-top:10px">
                <button class="btn btn-outline-secondary" style="margin-top:10px">Search</button>
            </form>
            <!--Use code from finding all the users, and filter and find only those who are not in the same team as the current user-->
            {% if q %}

                <h2 style="margin-top: 10px;">Users: {{q}}</h2>
                <br/>
                <div class="list-group">
                    {% for user in users %}
                        {% if not user in team_members %}
                            <li class="list-group-item" id="search-users-items">{{ user.first_name }} {{ user.last_name }} : {{ user.username }}
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    {% if is_admin %}
                                        <input type = "hidden" name="userToAdd" value="{{user}}"/>
                                        <input type="submit" class="btn btn-outline-success" value="Add to Team"/>
                                    {% endif %}
                                </form>
                            </li>
                        {% endif %}
                    {% endfor %}
                </div>
            
            {% endif %}

        </div>
        
        </div>  
    </div>
</div>
    
{% endblock %}  
