{% extends 'base_content.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center p-1 mb-4">
            <h1 class="display-4 text-white"> Your Summary Report </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
            <div style="position: relative; height:45vh; width:100vw">
                <canvas id="barChart"></canvas>
            </div>
        </div>
        <div class="col-lg-6">
            <div style="position: relative; height:45vh; width:100vw">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
</div>
{% include 'partials/chart_JS.html' %}
{% endblock %}