{% extends 'base_content.html' %}
{% block content %}

<style>
    .highlight {
        padding: 5px 10px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #f5f5f5;
        transition: background-color 0.3s ease;
    }

    .highlight.active {
        background-color: #007bff;
        color: #ffffff;
        transition: background-color 0.3s ease;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-7">
            <h2>Task Details</h2>
            <form action="{% url 'view_task' team_id=team.id task_id=task.id %}"method = "post">
                {% csrf_token %}
                <!--The below part with dont show feedback is is so that we don't show the validation mesages when the form is opened with the values-->
                {% include 'partials/bootstrap_form.html' with form=form dont_show_feedback=True%} 
                <div class="d-flex" style="gap: 5px;">
                {%if can_mark_as_complete %} <!--So either team admin or assigned to this task-->
                    {%if task.task_completed %}
                        <input type="Submit" class="btn btn-success" name="task_completion_value" value="Completed"><!--</a>-->
                    {%else%}
                        <input type="Submit" class="btn btn-outline-success" name="task_completion_value" value="Mark Task As Complete"><!--</a>-->
                    {%endif%}
                {%endif%}
                <!--This below hidden input is to store the value of task_completed as it changes-->
                <input type="text" hidden="True" name="task_completed" value={{task.task_completed}}>
                <input type="Submit" name="edit_submit" value = "Save" class="btn btn-primary">
            </form>
            <!-- ADD PROPER ADMIN CHECK-->
            {% if is_admin %}
                <form method="POST" action="{% url 'remove_task' task_id=task.id %}">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Remove Task</button>
                </form>
            {% endif %}
            </div>
        </div>
        <div class="col-auto">
            <div class="mt-5" style="border-left: 2px dashed white; height: 81%"></div>
        </div>
        <div class="col-4">
            <h2>Assigned To</h2>
            <form action="{% url 'view_task' team_id=team.id task_id=task.id %}" method="post">
                {% csrf_token %}
                {% for checkbox_id, checkbox in form2.usernames.field.choices %}
                    <label class="highlight mb-1 {% if checkbox_id in form2.usernames.value %}active{% endif %}">
                        <input class="d-none" type="checkbox" name="usernames" value="{{ checkbox_id }}" {% if checkbox_id in form2.usernames.value %} checked {% endif %}>
                        {{ checkbox }}
                    </label><br>
                {% endfor %}
                <input type="Submit" name="assign_submit" value = "Assign" class="btn btn-outline-primary my-2">
            </form>
            {% if alert_message %}
                <div class="alert {% if new_users %}alert-success{% else %}alert-warning{% endif %} rounded">
                    {{ alert_message|safe }}
                </div>
            {% endif %}
            {% if remove_message %}
                <div class="alert alert-danger rounded">
                    {{ remove_message|safe }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- JQuery for highlighting a username -->
<script>
    $(document).ready(function() {

        $('.highlight').each(function() {

            var checkbox = $(this).find('input[type="checkbox"]');

            $(this).on('click', function() {
                // Checks the checkbox if unchecked
                checkbox.prop('checked', !checkbox.prop('checked')) 
                // Toggles 'active' based on if the checkbox is checked
                $(this).toggleClass('active', checkbox.prop('checked')) 
            });

        });

    });
</script>
{% endblock %}