/*
 * Alerts
 */

.alert {
  border-radius: 0px;
}


/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  color:#000;
  background-color: #CCC9DC;
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}
.cover-card-block {
  opacity: 1
}

/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}


/*
 * Hyperlinks
 */
.content a {
  text-decoration: none;
  color: #0d6efd;
}
.content a:hover {
  text-decoration: underline;
  color: #0d6efd;
}


/*
 * Custom changes
 */

body{
  color:#fff;
  background-color: #1B2A41;
}

select option {
  background: #1B2A41;
  color: #fff;
}

.highlight{
  color: #000;
}

.homeButtons{
  background-color: #0C1821;
}

.creationForm{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.form-control, .form-control:focus, .form-control:disabled {    
  background: transparent;
  color: #fff;
}

.activityLogButton{
  margin-left: 5px;
}

.actionTableSection{
  align-items: center;
  justify-content: center;
}

.taskCreationCard {
  max-width: 18rem; 
  background-color: #ccc9dc;
}

.existingTaskCard {
  max-width: 18rem; 
}

.userSearch{
  margin-bottom: auto;
  margin-top: 10px;
}

.activityTable{
  color: #fff;
}

.dropdown-item{
  color: #fff;
}

#search-users-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #CCC9DC;
}

#show-team-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#teamSidebar{
  background-color: #0C1821;
}

#viewTeamSidebar{
  background-color: #0C1821;
}

#navbarTop{
  background: #04080B;
}

#dueDateCards{
  background-color: darkblue;
}
.modal-header{
  background-color: #142134;
}

.modal-body{
  background-color: #1B2A41;
}

.modal-footer{
  background-color: #142134;
}